.app-container {
  background-color: black;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
    sans-serif;
}

.logo {
  height: 100px;
  margin-left: 50px;
}

.section-container {
  margin-left: 50px;
  margin-bottom: 40px;
}

.list-container {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  height: 150px;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.movie-image {
  width: 220px;
  object-fit: cover;
}

.category-title {
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}
